<html class="h-100">

<body class="bg-light h-100 d-flex flex-column">

    <head th:replace="~{layouts :: head}"></head>
    <div th:replace="~{layouts :: navbar}"></div>
    <section class="container bg-light mb-3">
        <h1>Lojas Associadas</h1>
        <input type="search" class="input-group mb-0 mt-4" placeholder="Pesquisar Lojas">
        <div>
            <button type="button" class="btn"><a class="btn btn-lg" href="/formulario"><i
                        class="fas fa-plus-circle"></i>Adicionar
                    Lojista</a></button>
        </div>

        <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4">
            <div th:each="store : ${stories}" class="col">
                    <div class="card">
                    <img th:src="${store.image}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${store.nameStore}"></h5>
                        <p class="card-text">vendas: 999 unidades</p>
                        <p class="card-text">cursos: 15</p>
                        <a th:href="@{formulario/{storeId}(storeId=${store.storeId})}" th:method="get"
                            class="btn btn-warning">Editar</a>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger">
                            Deletar
                        </a>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Atenção</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>A loja será excluida permanentemente!</h3>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-success"
                                   th:href="@{delete/{storeId}(storeId=${store.storeId})}" th:method="delete" >Sim</a>
                                <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">Não</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </section>
    <div th:replace="~{layouts :: footer}"></div>

</body>

</html>