<!-- Header - NavBar -->

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</head>

    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="customSideBar">
            <div class="container-fluid">
                <a class="navbar-brand" href="./index">
                    <img  th:src="@{/images/logotacimenor.png}" class="rounded float-start" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" onclick="openNav()" style="color:black;" > </span>
                </button>
                <span sec:authorize="isAuthenticated()">
                    | Usuário logado: <span sec:authentication="name"></span> |
                    Perfil: <span style="margin-left: 3px; text-decoration:underline; color: red;" th:each="permission: ${#authentication.principal.authorities}" th:text="${permission.description} "></span> |
                    <a th:href="@{/logout}">Sign Out</a>
                </span>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./index">Lojistas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Aprendizados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dicas e produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bonificações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Faq</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../login">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginRight = "90px";
            }

            /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }
        </script>
    </div>

    <!-- mobile-navbar -->
        <div id="mySidebar" class="sidebar" th:fragment="mobile-navbar">
            <ul class="hidden-navbar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./index">Lojistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Aprendizados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dicas e produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bonificações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Faq</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../login">Logout</a>
                </li>
            </ul>
        </div>

    <!-- Botao Upload Imagem -->
    <div th:fragment="botao-upload" style="text-align: center">
        <h1> Formulário de loja </h1>
    </div>

    <!-- formulario -->
    <!-- th:field serve para validação do formulario. Não seguirá se o campo nao for preenchido
    O campo name é não precisa ser preenchido quando o thfield estiver preenchido para coleta dos dados no banco de dados -->
    <div th:fragment="formulario" class="formulario-de-loja">
        <fieldset>
            <legend>Dados da loja</legend>
            <div class="form-group">
                <label for="cnpj" class="form-label">Cnpj:</label>
                <input th:field="*{cnpj}" type="text" class="form-control" th:errorclass="is-invalid"
                    placeholder="00.000.000/0000-00" maxlength="14" required>
                <div class="invalid-feedback" th:errors="*{cnpj}">
                    Insira o CNPJ da loja.
                </div>
            </div>

            <div class="form-group">
                <label for="nameStore" class="form-label">Nome da loja:</label>
                <input th:field="*{nameStore}" type="text" class="form-control" th:errorclass="is-invalid"
                       placeholder="Insira o nome da loja" maxlength="30" required>
                <div class="invalid-feedback" th:errors="*{nameStore}">
                    Insira o nome da loja
                </div>
            </div>

            <div class="form-group">
                <label for="phone" class="form-label">Telefone:</label>
                <input th:field="*{phone}" type="text" name="phone" class="form-control" th:errorclass="is-invalid"
                       id="phone" placeholder="(00)0000-0000" maxlength="12" required>
                <div class="invalid-feedback">
                    Insira o telefone
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="form-label">E-mail:</label>
                <input th:field="*{email}" type="email" name="email" class="form-control" th:errorclass="is-invalid"
                       id="email" maxlength="100" placeholder="Insira o e-mail de acesso da loja" required>
                <div class="invalid-feedback">
                    O e-mail deve possuir '@'
                </div>
            </div>

            <div class="form-group">
                <label for="image" class="form-label">Imagem:</label>
                <input th:field="*{image}" type="url" name="image" class="form-control" th:errorclass="is-invalid"
                       id="image" placeholder="Insira a URL da logo da loja" required>
                <div class="invalid-feedback">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Endereço da loja</legend>
            <div class="form-group">
                <label for="cep" class="form-label">CEP</label>
                <input th:field="*{cep}" type="text" name="cep" class="form-control" th:errorclass="is-invalid" id="cep"
                       placeholder="XXXXX-XXX" maxlength="12" required>
                <div class="invalid-feedback">
                    Insira o CEP
                </div>
            </div>

            <div class="form-group">
                <label for="adress" class="form-label">Endereço</label>
                <input th:field="*{adress}" type="text" class="form-control" th:errorclass="is-invalid" id="adress"
                    placeholder="Rua dos Bobos, nº 0" required>
                <div class="invalid-feedback">
                    Insira o endereço da loja
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="city" class="form-label">Cidade</label>
                    <input th:field="*{city}" type="text" class="form-control" th:errorclass="is-invalid" id="city"
                           required>
                    <div class="invalid-feedback">
                        Insira o a cidade da loja
                    </div>
                </div>
            </div>

            <div class="form-group col-md-1.5">
                <label for="state" class="form-label">Estado</label>
                <!--          <select>
                              <option th:each="estado : ${estados}" th:text="${estado.nome}" th:value="${estado.nome}"></option>
                          </select>-->
                <select name="state" id="state" class="form-control" th:errorclass="is-invalid" required>
                    <option>Selecione</option>
                    <option th:each="estado : ${estados}" th:text="${estado.nome}" th:value="${estado.nome}" th:selected="${estado.id == stateId}"></option>
                </select>
            </div>
        </fieldset>

        <fieldset>
            <legend>Dados do proprietário</legend>
            <div class="form-group">
                <label for="owner" class="form-label">Responsável:</label>
                <input th:field="*{owner}" type="text" name="owner" class="form-control" th:errorclass="is-invalid"
                    id="owner" maxlength="20" required>
                <div class="invalid-feedback">
                    Insira o nome do responsável da loja.
                </div>
            </div>

            <div class="form-group">
                <label for="celPhone" class="form-label">Celular</label>
                <input th:field="*{celPhone}" type="text" name="celPhone" class="form-control" th:errorclass="is-invalid"
                    id="celPhone" placeholder="(00)-00000-0000" maxlength="12" required>
                <div class="invalid-feedback">
                    Insira o Celular
                </div>
            </div>

        </fieldset>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" required>
                <label class="form-check-label" for="gridCheck">
                    Clique em mim
                </label>
            </div>
        </div>
    </div>


    <!-- Botoes formulario -->
    <div th:fragment="botoes-formulario">
        <div class="text-center">
            <a href="./index" class="btn btn-danger">Cancelar</a>
            <input type="submit" value="Salvar" id="botao" class="btn btn-success">
        </div>
    </div>

    <!-- Footer -->
    <div th:fragment="footer" class="mt-auto">
        <footer>
            <div class="bg-dark text-center text-white">
                <span>Powered by C4NGAÇO SYSTEMS</span>
            </div>
        </footer>
    </div>